html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.slider_container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #19535F;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
}

.slider__wrapper {
    display: flex;
    margin: 30px auto;
    height: 80%;
    width: 83%;
    border-radius: 2%;
    overflow: hidden;
}

.slider_images {
    display: flex;
    width: 100%
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text__wrapper {
    width: 180px;
    height: 25px;
    color: azure;
    font-size: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    padding: 10px;
    gap: 10px;
    align-self: center;
}

.text span {
    display: none;
}

.slider_images img {
    flex: 1 0 100%;
}

.slider_container>input {
    display: none;
}

.slider_container label {
    outline: none;
    content: " ";
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 10px;
}

.elem {
    width: 15px;
    height: 15px;
    border: 2px solid #C0FDFB;
    border-radius: 50%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.controls {
    margin-right: 40px;
}

label:hover {
    cursor: pointer;
    .elem {
        background: #C0FDFB;
    }
}

#mem1:checked~.wrapper>.controls label>#elem1,
#mem2:checked~.wrapper>.controls label>#elem2,
#mem3:checked~.wrapper>.controls label>#elem3,
#mem4:checked~.wrapper>.controls label>#elem4 {
    background: #C0FDFB;
}

.slider_images {
    transition: margin-left 1s;
}

#mem1:checked~.slider__wrapper>.slider_images {
    margin-left: 0;
}

#mem2:checked~.slider__wrapper>.slider_images {
    margin-left: -100%;
}

#mem3:checked~.slider__wrapper>.slider_images {
    margin-left: -200%;
}

#mem4:checked~.slider__wrapper>.slider_images {
    margin-left: -300%;
}

#mem1:checked~.wrapper>.text__wrapper>.text>#mem1 {
    animation: appear 2s ease forwards;
    display: block;
}

#mem2:checked~.wrapper>.text__wrapper>.text>#mem2 {
    animation: appear 2s ease forwards;
    display: block;
}

#mem3:checked~.wrapper>.text__wrapper>.text>#mem3 {
    animation: appear 2s ease forwards;
    display: block;
}

#mem4:checked~.wrapper>.text__wrapper>.text>#mem4 {
    animation: appear 2s ease forwards;
    display: block;
}

@media (max-width: 1000px) {
    .slider__wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .slider_container {
        max-width: 90%;
        aspect-ratio: 3 / 2;
        height: auto;
    }
    .controls{
        margin-right: 0;
    }
    .text__wrapper{
        margin-left: 20px;
        align-self: flex-start;
    }

    .wrapper {
        flex-direction: column-reverse;
    }

    .controls {
        align-self: center;
    }
}